.root {
  background-color: #7B68EE;
  border-radius: 2%;
  color: white;
  padding: 3%;
  -webkit-border-radius: 2%;
  -moz-border-radius: 2%;
  -ms-border-radius: 2%;
  -o-border-radius: 2%;
}

.root:hover {
  background-color: #5F48EA;
}